<table>
    <tr>
        <td>username</td>
        <td>email</td>
        <td>password</td>
    </tr>
    <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.username, user_path(user.id) %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to "edit user", edit_user_path(user.id) %> </td>
        <td><%= link_to "destroy user", user, confirm: "you sure you want to do this?", method: :delete %></td>
    </tr>
    <% end %>
</table>