<%= form_for(@calendar) do |f| %>
    <div class="field">
        <p>title</p>
        <%= f.text_field :title%>
    </div>
    <div class="field">
        <%= f.hidden_field :user_id, :value=>current_user.id %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <div class="error-msg"> 
        <% if @calendar.errors.any? %> 
            <ul> 
                <% @calendar.errors.full_messages.each do |msg| %> 
                <li><%= msg %></li> 
                 <% end %> 
             </ul> 
         <% end %> 
    </div> 
<% end %>