<!DOCTYPE html>
<html>
<head>
  <title>Calendar App!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar">
        <ul class="nav">
            <li class='dropdown'><%= link_to "Events", events_path, :class => "nav-link" %>
                <ul>
                    <li><%= link_to "Create Event", new_event_path %></li>
                    <li><%= link_to "All Events", events_path %></li>
                    <li><%= link_to "My Events", myev_path %></li>
                </ul>
            </li>
            <li class='dropdown'><%= link_to "Calendars", calendars_path, :class => "nav-link"%>
                <ul>
                    <li><%= link_to "Create Calendar", new_calendar_path %></li>
                    <li><%= link_to "All Calendars", calendars_path %></li>
                    <li><%= link_to "My Calendars", mycal_path %></li>
                </ul>
            </li>
            <div id='right-nav'>
                <% if !user_signed_in? %>
                <li>
                    <%=link_to "Sign Up", new_user_registration_path, :class => "nav-link" %>
                </li>
                <li> 
                    <%=link_to "Login", new_user_session_path, :class => "nav-link" %>
                </li>
                <%else%>
                <li>
                    <%=link_to "Edit Profile", edit_user_registration_path, :class => "nav-link" %>
                </li>
                <li>
                    <%=link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-link" %>
                </li>

                <%end%>
            </div>
            
        </ul>
    </div>


<div class="content">
    <%= yield %>
</div>

</body>
</html>
